python-dotenv
fastapi[standard]==0.115.0
google-generativeai==0.8.3
python-socketio
torch
torchvision 
torchaudio
transformers==4.46.1
datasets
coqui-tts[server, notebooks] @ git+https://github.com/thng292/coqui-ai-TTS.git